body {
    overflow: hidden;
    background-color: #ffffff;
}

.menu {
    display: none;
    background-color: #303030;
    color: #ffffff;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.menuTableCon {
    width: inherit;
    height: inherit;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.menuTable {
    margin: auto;
}

#div_debugMenu {
    color: #ffffff;
}

#div_loginMenu {
    display: block;
    z-index: 120;
}

#table_loginMenu tr td:first-child {
    text-align: right;
    padding-right: 2vw;
}

#table_loginMenu tr:last-child td {
    text-align: center;
}

.matchOption {
    font-size: 200%;
    padding: 3vh 0vh;
}


#div_matchMenu {
    display: block;
    z-index: 110;
}


#div_game {
    background-color: yellow;

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

.matchInfoCon {
    width: 50vw;
    height: 20vh;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#table_matchInfo_left {
    margin-left: 3vw;
}

#table_matchInfo_right {
    margin-right: 3vw;
}

#span_playerSymbol_left {
    font-size: 350%;
}

#span_playerSymbol_right {
    font-size: 350%;
}

#div_matchInfo {
    background-color: red;

    width: 100vw;
    height: 20vh;
}

#div_matchInfo_left {
    background-color: rgb(238, 98, 219);

    display: inline-block;
    width: 50%;
    height: 100%;
}

#div_matchInfo_right {
    background-color: rgb(255, 230, 0);

    float: right;
    width: 50%;
    height: 100%;
}

#div_boardArea {
    background-color: green;

    width: 100vw;
    height: 50vh;
}

#div_mainBoardCon {
    width: inherit;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}

#table_mainBoard {
    width: 95vw;
    margin: auto;
}

#table_mainBoard * {
    border: solid #ffffff 0.5px;
    user-select: none;
}

#table_mainBoard td {
    width: 20vw;
    height: 15vh;
    text-align: center;
    font-size: 600%;
}

#div_gameDrawer {
    background-color: blue;

    width: 100vw;
    height: 30vh;
}