body {
    overflow: hidden;
    background-color: #ffffff;
}

.menu {
    display: none;
    background-color: #303030;
    color: #ffffff;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.menuTableCon {
    width: inherit;
    height: inherit;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.menuTable {
    margin: auto;
}

#div_debugMenu {
    color: #ffffff;
}

#div_loginMenu {
    display: block;
    z-index: 120;
}

#table_loginMenu tr td:first-child {
    text-align: right;
    padding-right: 2vw;
}

#table_loginMenu tr:last-child td {
    text-align: center;
}

#div_matchMenu {
    display: block;
    z-index: 110;
}

.matchOption {
    font-size: 200%;
    padding: 3vh 0vh;
}

#div_game {
    background-color: yellow;

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

#div_matchInfo_infoCon_left {
    width: 50vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    vertical-align: middle;
}

#div_matchInfo_infoCon_right {
    width: 50vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    vertical-align: middle;
}

#div_playerInfoCon_left {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
}

#div_playerInfoCon_right {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
}

#span_playerSymbol_left {
    margin-left: 4vw;
    margin-right: 1vw;
    font-size: 350%;
}

#span_playerSymbol_right {
    margin-left: 1vw;
    margin-right: 3vw;
    font-size: 350%;
}

#span_playerScore_left,
#span_playerScore_right {
    font-size: 300%;
}

#div_matchInfo {
    background-color: red;

    width: 100vw;
    height: 20vh;
}

#div_matchInfo_left {
    background-color: rgb(238, 98, 219);

    display: inline-block;
    width: 50%;
    height: 100%;
}

#div_matchInfo_right {
    background-color: rgb(255, 230, 0);

    float: right;
    width: 50%;
    height: 100%;
}

#div_boardArea {
    background-color: green;

    width: 100vw;
    height: 48vh;
}

#div_mainBoardCon {
    width: inherit;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}

#table_mainBoard {
    width: 95vw;
    margin: auto;
}

#table_mainBoard * {
    border: solid #ffffff 0.5px;
    user-select: none;
}

#table_mainBoard td {
    width: 20vw;
    height: 15vh;
    text-align: center;
    font-size: 600%;
}

#div_gameDrawer {
    background-color: rgb(16 39 41);

    width: 100vw;
    height: 32vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.gameDrawerRow {
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gameDrawerBoardCon {
    border: solid rgb(255, 255, 255) 2px;
    margin: 0.25vh 7vw;
    height: 7.2vh;
}

.gameDrawerBoardClickOverlay {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    top: -100%;
    z-index: 20;
}

.gameDrawerBoard {
    color: rgb(255, 255, 255);
    width: 12vw;
    margin: auto;
}

.gameDrawerBoard * {
    border: solid rgb(125, 125, 125) 0.5px;
    user-select: none;
}

.gameDrawerBoard td {
    width: 2.8vw;
    height: 1.77vh;
    text-align: center;
    font-size: 80%;
}