body {
    overflow: hidden;
    background-color: #ffffff;
}

.menu {
    display: none;
    background-color: #303030;
    color: #ffffff;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.menuTableCon {
    width: inherit;
    height: inherit;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.menuTable {
    margin: auto;
}

#div_debugMenu {
    color: #ffffff;
}

#div_loginMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 120;
}

#span_loginMenuTitle {
    margin-top: 15vh;
    font-size: 350%;
}

#div_loginMenuTableCon {
    display: flex;
}

#table_loginMenu tr td:first-child {
    text-align: right;
    padding: 2vh 3vw;
    font-size: 175%;
}

#table_loginMenu tr td:last-child input {
    font-size: 150%;
    width: 40vw;
}

#div_loginButtonsCon {
    width: 100vw;
    height: 40vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_loginButtonsCon button {
    margin: auto;
    width: 33%;
    height: 25%;
    font-size: 183%;
}

#div_playerCreationMenu {
    z-index: 110;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    display: none;
}

#div_playerCreationOptionsCon {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_playerCreationMenuButtonsCon {
    width: 100vw;
    height: 30vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table_playerCreationMatchOptions tr td:first-child {
    font-size: 150%;
}

#table_playerCreationMatchOptions tr td:last-child {
    width: 40vw;
    text-align: center;
}

#table_playerCreationMatchOptions tr td:last-child input {
    width: 30vw;
}

#table_playerCreationMatchOptions tr:first-child td {
    padding-bottom: 3vh;
}

#table_playerCreationMatchOptions tr:last-child td {
    padding-top: 3vh;
    font-size: 115%;
}

#div_playerCreationMenuButtonsCon button {
    margin: auto;
    width: 33%;
    height: 20%;
    font-size: 147%;
}

#div_matchMenu {
    z-index: 110;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.matchOption {
    font-size: 200%;
    padding: 3vh 0vh;
}

#div_matchMenuTableCon {
    height: 70vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_matchMenuButtonsCon {
    width: 100vw;
    height: 30vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

#div_matchMenuButtonsCon button {
    margin: auto;
    width: 33%;
    height: 20%;
    font-size: 147%;
}

#div_matchCreationMenu {
    display: flex;
    flex-direction: column;

    display: none;
}

#div_matchCreationPlayersTableCon {
    /* background-color: red; */

    width: 100vw;
    height: 40vh;
    overflow-y: auto;
}

#table_playerOptions {
    border-collapse: collapse;
    font-size: 125%;
}

#table_playerOptions tr:first-child {
    /* background-color: red; */

    position: sticky;
    top: 0%;
    z-index: 111;
}

#table_playerOptions th {
    padding: 1.25vh 3vw;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
}

#table_playerOptions td {
    padding: 1vh 3vw;
}

.selectedPlayer td {
    border: solid white 1px;
}

.selectedPlayer .rowLeft {
    border-right: none;
}

.selectedPlayer .rowMiddle {
    border-left: none;
    border-right: none;
}

.selectedPlayer .rowRight {
    border-left: none;
}

#div_matchCreationOptionsCon {
    /* background-color: green; */

    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#table_matchCreationMatchOptions td {
    text-align: center;
    padding: 5vw 1vw;
    font-size: 175%;
}

#table_matchCreationMatchOptions select {
    font-size: 75%;
}

#div_matchCreationMenuButtonsCon {
    /* background-color: blue; */

    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_matchCreationMenuButtonsCon button {
    margin: auto;
    width: 33%;
    height: 19%;
    font-size: 183%;
}

#div_game {
    /* background-color: yellow; */

    background-color: #000000;
    color: #ffffff;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

#div_game table {
    border-collapse: collapse;
}

#div_matchInfo_infoCon_left {
    width: 50vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    vertical-align: middle;
}

#div_matchInfo_infoCon_right {
    width: 50vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    vertical-align: middle;
}

#div_playerInfoCon_left {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
}

#div_playerInfoCon_right {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
}

#span_playerSymbol_left {
    margin-left: 4vw;
    margin-right: 1vw;
    font-size: 350%;
}

#span_playerSymbol_right {
    margin-left: 1vw;
    margin-right: 3vw;
    font-size: 350%;
}

#span_playerScore_left,
#span_playerScore_right {
    font-size: 300%;
}

#div_matchInfo {
    /* background-color: red; */

    width: 100vw;
    height: 20vh;
}

#div_matchInfo_left {
    /* background-color: rgb(238, 98, 219); */

    display: inline-block;
    width: 50%;
    height: 100%;
}

#div_matchInfo_right {
    /* background-color: rgb(255, 230, 0); */

    float: right;
    width: 50%;
    height: 100%;
}

#div_boardArea {
    /* background-color: green; */

    width: 100vw;
    height: 48vh;
}

#div_mainBoardCon {
    width: inherit;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#table_mainBoard {
    width: 95vw;
    margin: auto;
}

#table_mainBoard * {
    border: solid #ffffff 0.5px;
    user-select: none;
}

#table_mainBoard td {
    width: 20vw;
    height: 15vh;
    text-align: center;
    font-size: 600%;
}

#span_winnerBanner {
    font-size: 200%;
}

#btn_closeMatch {
    font-size: 150%;
    margin-top: 3vh;
}

#div_gameDrawer {
    /* background-color: rgb(16 39 41); */

    width: 100vw;
    height: 32vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.gameDrawerRow {
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gameDrawerBoardCon {
    border: solid rgb(255, 255, 255) 2px;
    margin: 0.25vh 7vw;
    height: 7.2vh;
}

.gameDrawerBoardClickOverlay {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    top: -100%;
    z-index: 20;
}

.gameDrawerBoard {
    color: rgb(255, 255, 255);
    width: 12vw;
    margin: auto;
}

.gameDrawerBoard * {
    border: solid rgb(125, 125, 125) 0.5px;
    user-select: none;
}

.gameDrawerBoard td {
    width: 2.8vw;
    height: 1.77vh;
    text-align: center;
    font-size: 80%;
}